* {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
}

body {
  background-color: #1b1b1f;
  color: aliceblue;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
}

.header img {
  width: 20%;
  object-fit: cover;
  background-color: lightblue;
  box-shadow: 0px 0px 30px lightblue;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 5px;

}

.header h1 {
  font-size: 2.5rem;
  text-align: center;
  color: lightblue;
  margin-top: 1rem;
}

.descripcion {
  width: 85%;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  text-align: justify;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: lightblue;
}

.index h1 {
  font-size: 1rem;
  text-align: center;
  color: lightblue;
  margin-top: 1rem;
}

.descripcion p {
  align-self: center;
  font-size: 1.2rem;

}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 2rem auto;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 1rem 1rem;
  flex: 1;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  width: 20%;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: #1b1b1f;
  border-radius: 10px;
  box-shadow: 0px 0px 15px lightblue;
  transition: all 250ms;
}

.team-card img {
  width: 60%;
  object-fit: cover;
  background-color: lightblue;
  box-shadow: 0px 0px 10px lightblue;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 5px;
}

.team-card h1 {
  font-size: 1.5rem;
  text-align: center;
  color: lightblue;
}

.team-card:hover {
  transform: scale(1.05);
}