.active {
    background-color: #1b1b1f;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #32323a;
    position: sticky;
    top: 0;
}

nav .home {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: lightblue;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 1rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: lightblue;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:hover {
    background-color: #1b1b1f;
    color: white;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.3rem;
    width: 80%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media(max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}